/* Colors 

parchment: hsl(40, 50%, 95%);
eggshell: ;
royal blue: hsl(245, 72%, 55%);

*/

html, body {
  font-family: helvetica, arial, sans-serif;
  background: hsl(40, 50%, 95%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.ca-box-control-panel {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 20px;
}

.ca-box-add-btn {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  background: hsl(245, 72%, 55%);
}

.ca-box-add-btn:hover,
.ca-box-add-btn:focus { 
  box-shadow: 0 0 8px 0 #666;
  outline: 0;
}

.ca-box-add-btn:active {
  background: hsl(245, 72%, 65%);
  outline: 0;
}

.ca-box-add-btn_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  color: white;
  font-size: 42px;
}


/***************
Text area
***************/

.ca-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ca-canvas__dragging {
  user-select: none;
}

.ca-canvas_box {
  position: absolute;
}

.ca-canvas_boxGrabber {
  position: absolute;
}

.ca-canvas_boxGrabberLabel {
  position: absolute;
  z-index: 2;
  left: -40px;
  top: 13px;
  height: 30px;
  width: 30px;

  border-radius: 50%;
  background: hsl(245, 72%, 55%);
  line-height: 30px;
  text-align: center;
  color: #fff;

  user-select: none;
  cursor: grab;
}

.ca-canvas__dragging .ca-canvas_box-grabber {
  cursor: grabbing;
}


/***************
Text area
***************/

.ca-textbox {
  position: relative;
  height: 100%;
  width: 100%;
}

.ca-textbox_controls {
  position: absolute;
  display: flex;
  left: -20px;
  top: 13px;
  width: 40px;
}

.ca-textbox_editable {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  resize: none;
  overflow: hidden;
}

.ca-textbox_lines {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ca-textbox_lines_line {
  position: relative;
}

.ca-app_visualDebugMode .ca-textbox_lines_line {
  box-shadow: 0px 0px 0px 1px hsla(0, 100%, 20%, 50%);
}

.ca-textbox_textstyle {
  font-family: "Georgia", serif;
  font-size: 16px;
  white-space: pre-wrap;
  letter-spacing: normal;
  height: 24px;
  line-height: 24px;

  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.ca-textbox_editable:focus,
.ca-textbox_editable:active {
  outline: 3px solid hsl(40, 50%, 85%);
}
